# パッケージ
**/node_modules/

# テスト
**/coverage/

# スキャン
**/.scannerwork/

# ビルド
**/build/
**/dist/
**/*.tsbuildinfo

# インフラ
**/.terraform/
**/*.tfstate
**/*.tfvars

# 環境変数
**/.env.production
**/.env.local
**/.env.*.local

# ログ
**/*.log*

# OS が生成するキャッシュファイル
**/Thumbs.db
**/.DS_Store
