# NOTE: 可能であればパッケージバージョンは固定したい
#   バージョン指定の表記はややこしいので下記にまとめる
#     ^1.2.3: 1.2.3 以上 2.0.0 未満
#     ~1.2.3: 1.2.3 以上 1.3.0 未満
#      1.2.*: 1.2.0 以上 1.3.0 未満 (1.2.x と同義)
#      1.2.3: 1.2.3 のみ
#   Yarn のデフォルトでは ^ が指定される
#   ただしこれは、すべてのパッケージがセマンティックバージョニングの原則に則っている
#   (minor バージョンのアップデートは互換性を維持する) ことを前提にしているため少々危険である
#
#save-prefix: ""

# タイムアウト時間を延長する
network-timeout: 600000
